{# TODO: add anchor link to news page #}
{# TODO: randomise dead player colours #}

{% for e in events %}
{% if not loop.previtem or e.datetimestamp.day != loop.previtem.datetimestamp.day %}
<h3>{{ e.datetimestamp.strftime("%A, %d %B") }}</h3>
{% endif %}
<div class="event">
    [{{ e.datetimestamp.strftime("%I:%M %p") }}]
    <span class="headline">
        {{ e.HTML_headline() }}
    </span>
</div>
{% endfor %}
